# Virtual Environment
.venv

# Byte-compiled / optimized / DLL files
sandbox.ipynb
sandbox/
trainer.egg-info
autoencoder_anomaly_detection.egg-info
dist
train_data
val_data
model
training_log.csv

# Configurations
config.json
jobspec.json

# Unimportant file
.ipynb_checkpoints/
__pycache__/